@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/fonts/SourceSansPro-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(/fonts/SourceSansPro-Bold.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(/fonts/SourceSansPro-It.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'), url(/fonts/SourceSansPro-BoldIt.ttf) format('truetype');
  font-display: swap;
}
