/**
 * Variables
 * ----------------------------------------------------------------------------
 */

/* Colors */
$alabaster: #fafafa;
$gallery: #ededed;
$gray: #9B9B9B;
$mine-shaft: #0c1e3e;
$picton-blue: #69d5f7;
$silver: #c6c6c6;
$tundora: #474747;
$white: #ffffff;






